@media (max-width: 1000px){
    .boxfit{
        min-width: 200px;
    }

    .fh-list{
        position: absolute;
        top: -20px;
        right: 0px;
        transform: translateX(100%);
        flex-direction: column;
        background-color: rgb(255, 255, 255, .95);
        padding: 90px 20px 0 0;
        width: 200px;
        height: 100vh;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 20px;
        z-index: 2;
        transition: all .5s ease;
        display: none;
    }

    .ham-menu{
        display: flex;
    }

    .sobre{
        gap: 70px;
        padding-left: 0;
        padding-right: 0;
        margin: auto;
    }

    .container{
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    .produtos-container{
        width: 100%;
    }

    .contato{
        height: fit-content;
    }

    .contato-fade{
        width: 100%;
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .mapa, .mapa iframe{
        width: 400px;
    }

}



@media (max-width: 800px){

    body{
        overflow-x: hidden;
    }

    .intro{
        width: 400px;
        padding: 3rem 0;
        margin-top: 200px;
        
    }

    .intro img{
        width: 350px;
    }

    .sobre{
        flex-direction: column;
        width: 400px;
        padding-top: 50px;
        margin: auto;
    }

    .sobre-content{
        text-align: center;
        width: 100%;
    }

    .sobre-imagem{
        width: 400px;
        order: 2;
    }

    .caracteristicas{
        flex-direction: column;
        gap: 20px;
        padding-bottom: 100px;
    }

    .carac-container{
        padding-bottom: 0;
    }

    .produtos h2{
        text-align: center;
    }

    


}